body{
  background-color: #101010;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

label{
  display: block;
  white-space: nowrap;

}

input, select{
  width: 100%;
  margin-left: auto;
}

span{
  display: block;
  color:tomato;
  font-size: 12px;
}

.divTerminos{
  margin-block: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}