body{
  background-color: #101010;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

label{
  display: block;

}

input, select{
  width: 100%;
}

span{
  display: block;
  color:tomato;
  font-size: x-small;
}